<!DOCTYPE html>
<html>
    <body>
        <form action="{{url_for('addrecord')}}" method="POST">
            <h3>Student Information</h3>
            Name<br>
            <input type ="text" name="nm"/><br><br><br>
            ID<br>
            <input type="text" name="id"/><br><br><br>
            Subject<br>
            <input type="text" name="sub"/><br><br><br>
            <input type="submit" value = "Submit"><br><br><br><br><br><br><br>
        </form>
    </body>




</html>